.music-table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8em;
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.music-table thead tr {
    background-color: yellow;
    color: purple;
    text-align: center;
}

.music-table tbody tr {
    border-bottom: 2px solid green;
}

.music-table tbody tr:nth-of-type(even) {
    background-color: orange;
}

.music-table tbody tr:nth-of-type(odd) {
    background-color: lightgreen;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid yellow;
}

.delete-button {
    background-color: red;
    border-radius: 0.5em;
    color: yellow;
    font-weight: bold;
    width: 5.0em;
}
